<div class="blm-banner">
  <p class="text-lg">
    <a href="https://blacklivesmatter.com" target="_blank" rel="noopener noreferrer" class="text-cf-orange-400">Black Lives Matter.</a> Support the 
    <a href="https://eji.org/" target="_blank" rel="noopener noreferrer" class="text-cf-orange-400">Equal Justice Initiative</a> and 
    <a href="https://www.joincampaignzero.org/" target="_blank" rel="noopener noreferrer" class="text-cf-orange-400">Campaign Zero</a>.
  </p> 
</div>

<header class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="/" class="flex items-center mb-4 md:mb-0" data-turbolinks-permanent>
      <img src="/assets/images/codefund-logo-w2.svg" style="height: 30px; width: 139px;"/>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-lg justify-center">
      <a href="/advertisers" class="mr-5 hover:text-gray-900{% if page.title == "Advertisers" %} font-semibold text-purple-700{% endif %}">Advertisers</a>
      <a href="/publishers" class="mr-5 hover:text-gray-900{% if page.title == "Publishers" %} font-semibold text-purple-700{% endif %}">Publishers</a>
      <a href="/podcasts" class="mr-5 hover:text-gray-900{% if page.title == "Podcasts" %} font-semibold text-purple-700{% endif %}">Podcasts</a>
      <a href="/blog" class="mr-5 hover:text-gray-900{% if page.title == "Blog" %} font-semibold text-purple-700{% endif %}">Blog</a>
    </nav>
    <a href="https://app.codefund.io/users/sign_in" class="inline-flex text-white bg-indigo-500 hover:bg-indigo-700 border-0 py-2 px-6 focus:outline-none rounded text-base mt-4 md:mt-0">Login</a>
  </div>
</header>